<div class="bottom section-padding">
    <div class="container">
        <div class="icons">
            <ul class="social-icons-ql">
                <li><a href="https://www.facebook.com/GleioTheHotelApp/"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="container">

            <div class="row">
                
                <div class="col-md-8">
                    <a class="btn btn-lg btn-success big-btn android-btn" href="https://play.google.com/store/apps/details?id=com.gleio&hl=en_AU" target="_blank">
                        <img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"><div class="btn-text"><small>Available on</small><br><strong>Google Play</strong></div></a>
                  
                   <!-- apple store button -->
                        <a class="btn btn-lg btn-primary big-btn" href="https://apps.apple.com/us/app/gleio/id1329897464" target="_blank">
                          <i class="glyphicon glyphicon-phone pull-left"></i><div class="btn-text"><small>Available on the</small><br><strong>App Store</strong></div></a>
                    <!-- android button -->
                     
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-center">

                <div class="copyright">
                    <p>© <span>2018</span> <a href="#" class="transition">Gleio</a> All rights reserved.</p>
                </div>

            </div>
        </div>
    </div>

</div>