<div class="banner-area banner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Our Solution</h2>
                    <ul class="page-title-link">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label=" Solution ">
        <div id="about" class="section wb">

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-01.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-02.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-03.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-04.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-05.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-06.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-07.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-08.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-09.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-10.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-11.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive"
                            src="assets/images/Gleio-12.png" />
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Your Custom Solution">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive"
                        src="assets/images/Gleiocustom-02.jpg" />
                </div>
          
            </div>
            <div class="row">
                
                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive"
                    src="assets/images/Gleiocustom-03.jpg" />
                </div>
            </div>
            <div class="row">
               
                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive"
                    src="assets/images/Gleiocustom-04.jpg" />
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive"
                    src="assets/images/Gleiocustom-05.jpg" />
                </div>
            </div>
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive"
                src="assets/images/Gleiocustom-06.jpg" />
            </div>
        </div>
        </div>
    </mat-tab>
</mat-tab-group>
