<div class="banner-area banner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Our Solution</h2>
                    <ul class="page-title-link">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section wb">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-01.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-02.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-03.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-04.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-05.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-06.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-07.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-08.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-09.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-10.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-11.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"><img class="img-responsive" src="assets/images/Gleio-12.png" />
            </div>
        </div>
    </div>


    <div class="banner-area banner-bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="features" class="section wb">
            <div class="container">
                <!-- end title -->
    
                <div class="row">
                    <img src="assets/images/fe.png"  class="responsive" style="margin-left: -164px;">
                    </div>
                    <!-- end col -->
                </div>
        
                <!-- end row -->
            </div>
    <!-- end container -->
</div>
<!-- end section -->



<!-- end section -->

<!-- end section -->