<div class="banner-area banner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Our Solution</h2>
               
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section wb">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-01.png" />
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-02.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-03.png" />
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-04.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-05.png" />
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-06.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-07.png" />
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-08.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-09.png" />
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-10.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-11.png" />
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/images/Gleio-12.png" />
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-display"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Maximise Revenue. </a></h3>
                        <p>Throw personalized offers to your guests by reading their consumption behavior, do upselling,
                            and reduce manpower in your hotel.. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-database"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Reduce Human Error </a></h3>
                        <p>Since all the orders are entered by customers themself in the App, there is no question of
                            errors happening by Hotel Staff. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-magic-wand"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Profitable Platform </a></h3>
                        <p>With a centralized and user-friendly platform, you can reduce the intermediaries and lower
                            your cost of distribution.. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-cloud"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Guests Management </a></h3>
                        <p>One platform to manage all your guests & bookings in real time.
                            By analyzing Gleio reports you can know your hotels bottlenecks and performance </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end section -->



