.imgphone img {
    margin-top: 170px;
}

.post-media2 img {
    height: 345px;
}
.imgdata img
{height: 394px;
}

.abotwrapper{
    background: linear-gradient(90deg, #2774AE 0%, #56ac61 50%, #002E5D 100%);
    color: white;
    padding: 89px;
}
.abouttitle{
    font-size: 56px;
    color: white;

}
.abousubttitle{
    font-size: 22px;
    color: wheat;
}
@media only screen and (max-width: 600px) {
    .abotwrapper{
        background: linear-gradient(90deg, #2774AE 0%, #56ac61 50%, #002E5D 100%);
        color: white;
        padding: 31px;
    }


.post-media2 img {
    height: 131px;
}

@media only screen and (max-width: 708px) {
    .abotwrapper{
        background: linear-gradient(90deg, #2774AE 0%, #56ac61 50%, #002E5D 100%);
        color: white;
        padding: 31px;
    }
    .post-media2 img {
        height: 100px;
    }
}


.imgdata img{
    z-index: 0;
    opacity: 0.2;
}
.abouttitle {
    font-size: 33px;
    color: white;
    padding: 10px;
    text-align: center;
}
}

.youtubeviode{
 text-align: center;
}
.youtubeviode>iframe{
    width: 800px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .youtubeviode>iframe{
        width: 257px;
        height: 200px;
    }

}
